:root {
    --joke:repeat(16,1fr);
}

body {
    background-color: lightgray;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    margin: auto;
    flex-shrink: 0;
}
.container {
    /* display: flex;
    gap: 10px;
    flex-wrap:wrap;
    column-count: 16; */
    display: grid;
    grid-template-columns: var(--joke);
    width: 400px;
    height: 400px;
    background-color: white;
    flex-shrink: 0;
    border: 2px solid black;
}
.same {
}

#blackSame {
    background-color: black;
}
#whitesame {
    background-color: white;
}
#title {
    display: flex;
    justify-content: center;
    font-family: "Arial Black", sans-serif;
    font-size: 4.5em;
    letter-spacing: -1px;
    color: red;
}
.meter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.bad {
    display: flex;
    justify-content: center;
}
#apply {
    color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ed3330;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}


#clear {
    color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ed3330;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}
#toggleBtn {
    color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ed3330;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}
.toggle {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}